{%extends 'base.html'%}
{%block title%} | New Password {% endblock %}
{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <!-- <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
                               
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div> -->
    <section class="ftco-section bg-light">
        <div class="container-fluid col-md-7 pb-2">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>Reset Password</h2>
                </div>
            </div>
            <p>Please enter your new password.</p>
            <form action="" class="appointment-form" method="POST">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
							{{ form.new_password1|as_crispy_field }}    
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
							{{ form.new_password2|as_crispy_field }}    
                        </div>
                    </div>
					<div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Sign Up" class="btn btn-primary py-3 px-4 col-md-12">
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a href="{% url 'login' %}">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}