{%extends 'base.html'%}
{%block title%} | Forgot Password {% endblock %}  
{% block content %}    
{%include 'partials/alerts.html'%}
{% load crispy_forms_tags %}
	<!--Reset Password-->
	  <section class="ftco-section bg-light">
        <div class="container-fluid col-md-7 pb-2">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>Reset Password</h2>
                </div>
            </div>
            <form action="" class="appointment-form" method="POST">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
							{{ password_reset_form.email|as_crispy_field }} 
                        </div>
                    </div>
					<div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Sign Up" class="btn btn-primary py-3 px-4 col-md-12">
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a href="{% url 'login' %}">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}