<div class="jumbotron">
    {%if get_user%}
    <div class="row">
        <div class="col-sm">
            <img class="rounded-circle article-img" width="200" height="200" src="{{ get_user.image.url }}"/>
        </div>
        <div class="col-sm">
            
        </div>
        <article class="media content-section">
    
            
   
           <div class="media-body">
               <h5> <p class="article-title" >Email: {{ get_user.email }}</p></h5>
               <p class="article-content">contact: {{ get_user.contact }}</p>
           </div>
       </article>

    </div>
    {%else%}
    <div class="row">
        <div class="col-sm">
           <h3>You're not logged in</h3>
        </div>
    </div>
    {%endif%}
   
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
{% endif %}

{% autoescape off %}
Hi {{ user.username }},

Please click on the link below to reset your password:

http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endautoescape %}

<a href="{% provider_login_url 'facebook' %}">Login Button image</a>