{%extends 'base.html'%}
{%load static%}
{%block title%} | About {% endblock %}
{%block content%}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/Background.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread">About Us</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- dog image -->
  <section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 wrap-about">
                <div class="img img-2 mb-4" style="background-image: url({%static 'images/about2.jpg'%});">
                </div>
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="pl-md-5">
                    <p>Resort in Chitrod, The Gir Garden Residency. Shopping is easy with the nearby Game Palace Co.ltd, Lokko House, Cake Accessories, Feng Shou Chao Shi, Cad Collection, Alexis ClothingOsu, Fusion Baby, AHOOM-African Heritage Outlet
                        & Online Mall, Batik queen, Afrikan Palace, Golden Tulip Hair Salon, Dashen Chambers, Farica Mall, American Essentials, Calvary Grace Ent., Sagar Indian Store.</p>
                    <p>
                        Known for great services in Sasan Gir, the Resort offers services such as Doctor on call, Power backup, Children's play area, Room service, Swimming Pool, Lawn, Parking, Butler Services, Restaurant, Indoor games, Air Conditioning, Outdoor sports, Wifi,
                        Kitchen/Kitchenette. Business travellers can make use of the hotel's conference space as well as other services which includes Banquet.</p>
                    <p>
                        At The Gir Garden Residency, many room choices are available across different categories and it's easy to choose one that is best suited for your needs. All rooms include Air Conditioning, Wifi.
                    </p>
                    <h2>A perfect natural beauty within the Gir National Park</h2>
                    <p>Welcome to Gir Garden Resort, a perfect natural beauty within the Gir National Park, surrounded by mango orchard, situated on the bank of the Hiran River branch, offering complete serenity to those looking to escape into nature.
                        Spend some time at Gir Garden to rejuvenate your body, senses, spirit and take in the glories of nature while indulging in luxurious comfort...</p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>What we offer</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 wrap-about">
                <div class="img img-2 mb-4" style="background-image: url({%static 'images/about1.jpg'%});">
                </div>
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="pl-md-5">
                    <div class="row">
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class="fas fa-wifi fa-2x"></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Free WiFi</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-parking fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Free Parking</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class="fas fa-swimmer fa-2x"></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Swimming Pool</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fa fa-paw fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Pets allowed</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-smoking fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 display-5">
                                <h3 class="heading ">Designated smoking area</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fa fa-bus fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Shuttle service</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-file-audio fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Soundproof rooms</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fa fa-heart fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Bridal suite</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-crown fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">VIP room facilities</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fa fa-users fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Family rooms</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-luggage-cart fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Room service</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-baby fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 display-5">
                                <h3 class="heading ">Babysitting / child services</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-suitcase-rolling fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Luggage storage</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-door-closed fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Lockers</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-route fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Tourdesk</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fa fa-plane fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 display-5">
                                <h3 class="heading ">Airport pick up / drop off</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fas fa-dice fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 ">
                                <h3 class="heading display-5">Indoor play area</h3>
                            </div>
                        </div>
                        <div class="services-2 col-lg-6 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center font-awesome-icon">
                                <i class='fab fa-xbox fa-2x'></i>
                            </div>
                            <div class="media-body pl-3 display-5">
                                <h3 class="heading ">Kids' outdoor play equipment</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 
{%endblock%}