{%load static%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>GG Residancy {%block title%}{%endblock%}</title>
    <link rel="shortcut icon" href="{% static 'images/Logo.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i&display=swap"
        rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">


</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col d-flex align-items-center">
                    <p class="mb-0 phone"><span class="mailus">Contact no : </span><a href="tel://9925575859">+91 99 255
                            75859</a> or <span class="mailus">email us : </span><a
                            href="mailto:girgardenresidancy@gmail.com">girgardenresidancy@gmail.com</a></p>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="https://wa.me/message/KKPQVGPYZEG2D1"
                                class="d-flex align-items-center justify-content-center"><span
                                    class="fab fa-whatsapp"><i class="sr-only">Whatsapp</i></span></a>
                            <a href="https://www.facebook.com/girgarden.residancy"
                                class="d-flex align-items-center justify-content-center"><span
                                    class="fab fa-facebook-f"><i class="sr-only">Facebook</i></span></a>
                            <a href="https://www.instagram.com/invites/contact/?i=1v5rf6cl37pgq&utm_content=jx7pfub"
                                class="d-flex align-items-center justify-content-center"><span
                                    class="fab fa-instagram"><i class="sr-only">Instagram</i></span></a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container" style="padding-left:50px;">
            <!--<a class="navbar-brand" href="index.html">Vacation<span>Rental</span></a>-->
            <a class="navbar-brand" href="{% url 'home' %}">
                <image src="{%static 'images/Logo.png'%}" style="height: 60px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="{% url 'rooms' %}" class="nav-link">Hotel Room</a></li>
                    <li class="nav-item"><a href="{% url 'contact_us' %}" class="nav-link">Contact</a></li>
                    {%if user.is_authenticated%}
                   
                    <div class="btn-group">
                        <button type="button" class="btn  btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                           
                        </div>
                    </div>
                    {%else%}
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
    {%block content%}
    {%endblock%}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading"><a href="#" class="logo">Gir Garden Residancy</a></h2>
                    <p>Gir Garden Resort, a perfect natural beauty within the Gir National Park, surrounded by mango
                        orchard...</p>
                    <a href="{% url 'about' %}">Read more <span class="fa fa-chevron-right"
                            style="font-size: 11px;"></span></a>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Where we are</h2>
                    <p>Sasan-Talala road, at. Chitrod Patia. Dist.: Gir Somnath (Gujarat)</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Let's have a tour</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}" class="py-1 d-block">About Us</a></li>
                        <li><a href="{% url 'services' %}" class="py-1 d-block">Services</a></li>
                        <li><a href="{% url 'rooms' %}" class="py-1 d-block">Hotel Rooms</a></li>
                        <li><a href="{% url 'contact_us' %}" class="py-1 d-block">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">

                    <h2 class="footer-heading">Follow us</h2>
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate"><a href="https://wa.me/message/KKPQVGPYZEG2D1" data-toggle="tooltip"
                                data-placement="top" title="Whatsapp"><span class="fab fa-whatsapp"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/girgarden.residancy"
                                data-toggle="tooltip" data-placement="top" title="Facebook"><span
                                    class="fab fa-facebook-f"></span></a></li>
                        <li class="ftco-animate"><a
                                href="https://www.instagram.com/invites/contact/?i=1v5rf6cl37pgq&utm_content=jx7pfub"
                                data-toggle="tooltip" data-placement="top" title="Instagram"><span
                                    class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="{% static 'js/google-map.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#uploadimage')
                        .attr('src', e.target.result)

                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>


</body>

</html>